<head>
    <title> Student TM</title>
    <link href="styles.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description"
        content="You can manage your time as a student, create to do lists, block timing and get motivated ">
</head>