<!-- <nav>
    <ul class="navigationbar">
        <li class="navigationbarl"><a href "#Home"> Home </a> </li>
        <li class="navigationbarl"><a href "#To_do_list"> To Do Lists </a> </li>
        <li class="navigationbarl"><a href "#Project"> Projects</a> </li>
        <li class="navigationbarl"><a href "#block_timing"> Block Timing </a> </li>
        <li class="navigationbarl"><a href "#quote"> Quote of the day </a> </li>
        <li class="navigationbarl"><a href "#aboutus"> About Us </a> </li>
    </ul>
</nav> -->