<!DOCTYPE html>

<head>
    <title> Student TM</title>
    <link href="Css/stylesheet.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="description"
        content="You can manage your time as a student, create to do lists, block timing and get motivated ">
</head>

<body>
    <header>
        <h1 class="header"> Welcome to Student Time Management </h1>

    </header>
    <nav>
        <ul class="navigationbar">
            <li class="navigationbarl"><a href "#Home"> Home </a> </li>
            <li class="navigationbarl"><a href "#To_do_list"> To Do Lists </a> </li>
            <li class="navigationbarl"><a href "#Project"> Projects</a> </li>
            <li class="navigationbarl"><a href "#block_timing"> Block Timing </a> </li>
            <li class="navigationbarl"><a href "#quote"> Quote of the day </a> </li>
            <li class="navigationbarl"><a href "#aboutus"> About Us </a> </li>
        </ul>
    </nav>
    <div id="Home">
        <h1 class="homeheading"> Home</h1>
        <p style="text-align: center;"> Lorem ipsum dolor sit a/
        <p>
    </div>
    <div id="To_do_list">
        <h2> Create your To-Do List </h2>
        <label for="task"> Add a task </label>
        <input id="task" type="text" placeholder="write your task ">
        <input type="submit" value="Add">
    </div>
    <div id="project">
        <h2> Create your Projects </h2>
        <label for="task"> Add a Project </label>
        <input id="Project" type="text" placeholder="write your project here ">
        <input type="submit" value="Add">
        <label for="projectcolor"> <br> Choose a color for your project</label>
        <input id="projectcolor" type="color">
    </div>
</body>